.hero-banner{
    width: 85%;
    max-width: 100%;
}
.hero-content{
    align-items: center;
}
.left-content{
    text-align: left;
}
.left-content p{
    font-size: 40px;
    font-family: 'Ubuntu';
    margin-top:30px;
    line-height: 50px;
}
.banner{
    display: flex;
    justify-content:end ;
}
h1.hero-title{
    font-size: 80px !important;
    font-weight: 900;
    line-height: 90px;
    font-family: 'Ubuntu';
    color:#007634
}

@media(max-width:668px){
    h1.hero-title{
        margin-top:50px;
        font-size: 40px !important;
        line-height: 40px;
    }
    .left-content p{
        font-size: 25px;
        margin-top:20px;
    
    }
    .banner{
        display: flex;
        justify-content:center ;
    }
}