.logo{
    color:#007634 !important;
    font-size: 40px !important;
    font-weight: 700;
    font-family: 'Ubuntu';
    text-align: left;
}
.nav-link.active{
    color:#007634 !important;
}
.nav-link{
    color:#212529 !important;
    padding: 0 20px !important;
}